
@font-face {
    font-family:"ACaslonPro-Regular";
    src:url("ACaslonPro-Regular.woff2") format("woff2"),url("ACaslonPro-Regular.woff") format("woff"),url("ACaslonPro-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        